<h1>Welcome to the Task Manager</h1>           # We have an h1 tag for our welcome message

<ul>                                           # then an unordered list (ul) with two list items (li) inside
  <li><a href="/tasks">Tasks Index</a></li>    # inside of each li tag, we have an a tag. The href tag is the path were the link will go. In the first tag the path will be http://localhost:9393/tasks.
  <li><a href="/tasks/new">New Task</a></li>   # the second path will be http://localhost:9393/tasks/new
</ul>
